<a href="https://colab.research.google.com/github/MNivedha/MNivedha/blob/main/task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#1. Write a Python program to display the current date and time

import datetime
import pytz  
current_time = datetime.datetime.now(pytz.timezone('Asia/Kolkata')) 
print (current_time)

2022-06-03 15:30:23.002870+05:30

In [11]:
#2. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those number

values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 1 3 4
List :  ['1 3 4']
Tuple :  ('1 3 4',)

In [12]:
#Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],color_list[-1])

Red Black

In [13]:
#4. Write a Python program to test whether a number is within 100 of 1000 or 2000.

def near_thousand(n):
  return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))   
print(near_thousand(2200))

True
True
False
False

In [14]:
# 5. Write a Python program to print all even numbers

print([i for i in range(11) if i%2 == 0])

[0, 2, 4, 6, 8, 10]

In [30]:
#Write a Python program to find the list in a list of lists whose sum of elements is the highest.
#Sample lists: [1,2,3], [4,5,6], [10,11,12], [7,8,9]
#Expected Output: [10, 11, 12]

num = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
print(max(num, key=sum))

[10, 11, 12]

In [36]:
#Write a Python script to concatenate following dictionaries to create a new one. 

#Sample Dictionary :
#dic1={1:10, 2:20}
#dic2={3:30, 4:40}
#dic3={5:50,6:60}
#Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [38]:
#11. Write a Python program to multiply all the items in a dictionary


my_dict = {'data1':100,'data2':-54,'data3':27}
result=1
for key in my_dict:    
    result=result * my_dict[key]

print(result)

-145800

In [41]:
#12.  Write a Python program to get the 4th element and 4th element from last of a tuple.

tuplex = ("g", "u", "v", "i", "g", "e", "e", "k")
print(tuplex)
item = tuplex[3]
print(item)
item1 = tuplex[-4]
print(item1)

('g', 'u', 'v', 'i', 'g', 'e', 'e', 'k')
i
g

In [43]:
#13.  Write a Python program to convert a tuple to a dictionary. 

tuplex = ((2, "g"),(3, "u"))
print(dict((y, x) for x, y in tuplex))

{'g': 2, 'u': 3}

In [45]:
#15. Write a Python program to check if a given set is superset of itself and superset of another given set.

nums = {10,20,30,40,50}
print("Original set: ",nums)
print("If nums is superset of itself?")
print(nums.issuperset(nums))
num1 = {1, 2, 3, 4, 5, 7}
num2 = {2, 4}
num3 = {2, 4}
print("\nnum1 = ", num1)
print("num2 = ", num2)
print("num3 = ", num3)
print("If mum1 is superset of num2:")
print(num1>num2)
print("Compare mum2 and num3:")
print("If mum2 is superset of num3:")
print(num2>num3)
print("If mum3 is superset of num2:")
print(num3>num2)

Original set:  {40, 10, 50, 20, 30}
If nums is superset of itself?
True

num1 =  {1, 2, 3, 4, 5, 7}
num2 =  {2, 4}
num3 =  {2, 4}
If mum1 is superset of num2:
True
Compare mum2 and num3:
If mum2 is superset of num3:
False
If mum3 is superset of num2:
False

In [49]:
#14. Write a Python program to remove all elements from a given set.


setc = {"Nive", "Likes", "Pink", "Colour"}
print("Original set elements:")
print(setc)        
print("\nAfter removing all elements of the said set.")
setc.clear()
print(setc)

Original set elements:
{'Colour', 'Nive', 'Pink', 'Likes'}

After removing all elements of the said set.
set()